.appointment {
  padding: 60px 40px;
  text-align: center;
}

.appointment h1 {
  color: #0d6efd;
  margin-bottom: 30px;
}

.appointment-form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.appointment-form input,
.appointment-form textarea {
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.appointment-form textarea {
  height: 100px;
  resize: none;
}

.appointment-form button {
  background-color: #0d6efd;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.appointment-form button:hover {
  background-color: #0056d2;
}

@media (max-width: 768px) {
  .appointment {
    padding: 40px 20px;
  }

  .appointment-form {
    width: 100%;
  }
}